select{
    width: 200px;
    margin-bottom: 1%;
    /* Fjerner boxen rundt om tekstfeltet  */
    border: none;
    border-bottom: 1px solid var(--color-primary);
    background-color: var(--col-background);
    color: var(--col-textprimary);
}
