.rolletabel{
    text-align: left;
    margin: 0 auto;
}

.brugertable{
    margin: 20px auto;
    width: 300px;
    overflow: scroll;
}

th, td{
    min-width: 20px;
}

thead, tbody{
    display: block;
}

#personer{
    max-height: 300px;
    overflow: auto;
}

#logo{
    display: block;
    margin: auto;
    padding-top: 10px;
}

.hvr-buzz{
    margin-top: 5px;
}


